locals {
  application       = "{@ name @}"
  risk_level        = "{@ risk @}"
  realm             = "prod"
  environment       = "prod"
  network           = module.tenant.network
  project_id        = data.terraform_remote_state.projects.outputs.projects[local.application][local.realm].id
}
