provider "google" {
  region                      = "us-west1"
  project                     = local.project
  impersonate_service_account = "tf-it@moz-fx-it-terraform-admin.iam.gserviceaccount.com"
}